<!-- {{homeMessage}} -->
<div class="home-wrapper">
    <div>
            <div class="home-title" style="display: inline-block;">Members List</div>
        <div style="display: inline-block;float: right;"><button class="btn btn-default">Create a new member</button></div>
    </div>
    <div class="table-container">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>
                        <div class="section">Sections</div>
                        <div class="row">
                                <span class="col-sm-3 col-xs-3 col-md-3">1st</span>
                                <span  class="col-sm-3 col-xs-3 col-md-3">2nd</span>
                                <span  class="col-sm-3 col-xs-3 col-md-3">3rd</span>
                                <span  class="col-sm-3 col-xs-3 col-md-3">4th</span>
                            </div>
                    </th>
                    <th>Join Date</th>
                    <th>Status</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>STSHCH</td>
                    <td>System Architect</td>
                    <td>
                            <div class="row">
                                    <span class="col-sm-3 col-xs-3 col-md-3">0</span>
                                    <span  class="col-sm-3 col-xs-3 col-md-3">0</span>
                                    <span  class="col-sm-3 col-xs-3 col-md-3">0</span>
                                    <span  class="col-sm-3 col-xs-3 col-md-3">0</span>
                                </div>
                    </td>
                    <td>09/06/12 10:41 PM</td>
                    <td><button class="btn btn-submit">Active</button></td>
                    <td>edit</td>
                </tr>
                <tr>
                    <td>3AG3PE</td>
                    <td>John doe</td>
                    <td>
                            <div class="row">
                                    <span class="col-sm-3 col-xs-3 col-md-3">1</span>
                                    <span  class="col-sm-3 col-xs-3 col-md-3">1</span>
                                    <span  class="col-sm-3 col-xs-3 col-md-3">1</span>
                                    <span  class="col-sm-3 col-xs-3 col-md-3">1</span>
                                </div>
                    </td>
                    <td>09/06/12 10:41 PM</td>
                    <td><button class="btn btn-default">Active</button></td>
                    <td>edit</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>