<div id="login" class="beforeLog">
        <div class="login-box">
            <form name="loginForm">
                <div class="user-name-input">
                    <input type="text" name="username" ng-model="userName" placeholder="username" required>
                    <div class="err-message" ng-show="loginForm.username.$touched && loginForm.username.$invalid">Enter User Name.</div>
                </div>
                <div class="pass-word-input">
                    <input type="password" name="password" ng-model="passWord" placeholder="password"  required>
                    <div class="err-message" ng-show="loginForm.password.$touched && loginForm.password.$invalid">Enter Password.</div>
                </div>
                <div class="login-btn">
                    <button type="submit" class="btn btn-default" ng-click="login()"
                    ng-disabled="loginForm.username.$dirty && loginForm.username.$invalid ||  
                    loginForm.password.$dirty && loginForm.password.$invalid">Login</button>
                </div>
            </form>
        </div>
    </div>